{% extends 'base.html' %}

{% block title %}Website Projects{% endblock title %}

{% block body %}


<div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="
          position: absolute;
          margin-top: -70px;
          z-index: -1;
          ">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/projects_websites.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <h1 class="h1 mb-4">website projects</h1>
    <div class="container" style="position: relative; top:380px;">
        
        <div class="card mb-3" style="left: auto;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family: 'Source Sans Pro', sans-serif;">calculator.in</h5>
                        <p class="card-text" style="font-family: 'Source Sans Pro', sans-serif;">This is a wider card
                            with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted"
                                style="font-family: 'Source Sans Pro', sans-serif;">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="left: auto;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family: 'Source Sans Pro', sans-serif;">lebenary.in</h5>
                        <p class="card-text" style="font-family: 'Source Sans Pro', sans-serif;">This is a wider card
                            with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted"
                                style="font-family: 'Source Sans Pro', sans-serif;">Upcoming</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="left: auto;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family: 'Source Sans Pro', sans-serif;">sanskriti.com</h5>
                        <p class="card-text" style="font-family: 'Source Sans Pro', sans-serif;">This is a wider card
                            with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted"
                                style="font-family: 'Source Sans Pro', sans-serif;">Upcoming</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}