body{
    background: #F6F3F3;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2vw;
    margin: 2.5vw;
    width: 95%;
    justify-content: center;
    /* border: 0.5vw solid black; */
}
.dabba{

    position: relative;
    margin: -1vw 0vw 1vw 0vw;
    background: white;
    /* height: 150vw; */
    padding-bottom: 2vw;
    box-shadow: 0.1vw 0.1vw;
    /* border: 0.5vw solid black; */
}
#center{
    /* flex-grow: 3; */
    width: 49vw;
}
#left{
    /* flex-grow: 1; */
    width: 14vw;
    height: 50vw;
}
#right{
    /* flex-grow: 1; */
    width: 25vw;
    justify-content: right;
    justify-items: right;
}
#footer{
    width: 99.3%;
    height: 15vw;
}

img{
    width: 10vw;
}

.text{
    font-family: 'DM Sans', sans-serif;
}
a:-webkit-any-link{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
#signup{
    text-align: right;
    padding: 1.5vw;
    font-weight: bold;
    font-size: 2vw;
}

#signupdesc{
    text-align: right;
    padding: 1.5vw;
    font-size: 1.5vw;
    margin-top: -2vw;
}
#email{
    position: relative;
    padding: 0.5vw;
    width: 20vw;
    font-size: 1.5vw;
    border: 0.2vw solid #5CE1E6;
    right: -2vw;
    margin-bottom: 1vw;
}
#button{
    position: relative;
    padding: 0.5vw;
    width: 21.4vw;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    background: #5CE1E6;
    border: solid #5CE1E6;
    color: white;
    font-weight: bold;
    right: -2vw;
}
input:focus{
    outline: 0.1vw solid #5CE1E6;
}
.heading{
    font-family: 'Sacramento', cursive;
    width: 94%;
    font-size: 2vw;
    text-align: center;
    padding: 1.5vw;
    height: 1vw;
}



.input{
    margin: 0vw 0vw 0vw 0vw;
}
#logo{
    padding: 2vw;
}

.index{
    margin: -1vw 0vw 0vw 2vw;
}
.indexing{
    margin-bottom: 1vw;
}

.flexbox{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
    border-radius: 50vw;
    height: 7vw;
    width: 7vw;
    margin: 5vw 0vw 1vw 2vw;
    /* padding: 1vw; */
    background: #5CE1E6;
}
.name{
    margin: 0vw 0vw 0vw 2vw;
    font-weight: bold;
}
.mydescript{
    font-size: 1vw;
    margin: 0vw 1vw 0vw 2vw;
}

.post{
    position: relative;
    width: 40%;
    height: 10vw;
    background: #5CE1E6;
    margin: 2vw 2vw 0 0vw;
}

.aboutpost{
    position: relative;
    bottom: 0;
    right: 0;
    padding: 1vw;
}
.title{
    font-weight: bold;
    font-size: 2vw;
}
.author{
    font-size: 0.9vw;
}
.description{
    font-size: 1.5vw;
}

