body{
    background: #F6F3F3;
}
.flex-container{
    display: flex;
    /* border: 0.1vw solid black; */
    gap: 2vw;
    
}
.text{
    font-family: 'DM Sans', sans-serif;
}

.dabba{
    background: white;
    box-shadow: 0.1vw 0.1vw 0.1vw black;
    flex-grow: 4;
    flex-flow: column;
    margin-top: 1vw;
    padding: 2vw;
    
}
#logo1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 10vw;
}
/* left dabba */
#left{
    margin-left: 3vw;
    width: 40vw;
}
.index{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.indexing{
    margin-top: 1vw;
}
.aboutme{
    margin-top: 5vw;
}
.img{
    width: 7vw;
    height: 7vw;
    background: #5CE1E6;
    border-radius: 50vw;
}
.name{
    margin-top: 1vw;
    font-weight: bold;
    font-size: 1.5vw;
}
.authordescript{
    font-size: 1.1vw;
}
/* left dabba ends` */

/* center dabba begins */
#center{
    width: 200vw;
    display: flex;
    flex-direction: column;
}
.headingtext{
    font-family: 'Sacramento', cursive;
    font-size: 2vw;
    text-align: center;
}
/* center dabba ends */

/* right dabba begins */
#right{
    margin-right: 3vw;
}
.flexbox{
    display: flex;
    gap: 2vw;
}
.postflex{
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
}

.btn{
    width: 100%;
}
.loginsignup{
    margin-bottom: 2vw;
}
.signupdesc{
    font-size: 1.3vw;
}
#signupbutton, #loginbutton, .logoutdrop{
    padding: 0.2vw;
    font-size: 1.5vw;
}
#signupbutton{
    font-weight: bold;
    background: #5CE1E6;
    outline: none;
    border: solid #5CE1E6;
    color: white;
}
#signupbutton:hover{
    border: solid #6CD7D9;
    background: #82EFF1;
    color: black;
}
#signupbutton:focus{
    background: #6CD7D9;
}
#signupbutton::after, #loginbutton::after{
    font-weight: bold;
    outline: none;
}

.logoutdrop, #loginbutton{
    background: #F6F3F3;
    outline: none;
    border: solid #5CE1E6;
    font-weight: bold;
}
.logoutdrop{
    margin-bottom: 2vw;
}
#loginbutton:hover .logoutdrop:hover{
    background: #5CE1E6;
    color: white;
}
#loginbutton:focus{
    background: #82EFF1;
}

.subscribeform{
    padding-top: 0vw;
    text-align: right;
}
.subscribe{
    font-weight: bold;
    font-size: 1.7vw;
}
#inputemail{
    width: 100%;
    padding: 0vw;
}
#email{
    margin-top: 1vw;
    padding: 0.2vw;
    font-size: 1.5vw;
    border: solid #5CE1E6;
    width: 95%;
    outline: none;
}
.button-subscribe{
    font-weight: bold;
    background: #5CE1E6;
    outline: none;
    border: solid #5CE1E6;
    color: white;
    padding: 0.2vw;
    font-size: 1.5vw;
    margin-top: 1vw;
}
.button-subscribe:hover{
    border: solid #6CD7D9;
    background: #82EFF1;
}
.button-subscribe:focus{
    background: #6CD7D9;
}
.button-subscribe::after{
    font-weight: bold;
    outline: none;
}

.post{
    background: #5CE1E6;
    width: 20vw;
    height: 10vw;
    padding: 1vw;
}
.title{
    font-size: 2vw;
    font-weight: bold;
}
.author{
    font-size: 1vw;
}
.description{
    font-size: 1.2vw;
    margin-top: 1vw;
}

.message-flex{
    display: flex;
    flex-wrap: wrap;
}
.me{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2vw;
    width: 100%;
}
.alert{
    padding: 1vw;
    color: white;
    width: 100%;
}
.alert-success{
    background: #31E648;
    opacity: 1;
}
.alert-error{
    background: #EB2420;
    opacity: 0.7;
}
.close{
    font-size: 2vw;
    background: #5CE1E6;
    color: white;
    border: none;
    border-left: 0.2vw solid white;
}
.close:hover{
    opacity: 0.9;
}
.close:focus{
    outline: none;
    background: #6CD7D9;
}
.close::after{
    font-size: 2vw;
    background: #5CE1E6;
    color: white;
    border: none;
    border-left: 0.2vw solid white;
}
.dropdown-menu{
    position: absolute;
    background: white;
    width: 20vw;
    top: 88px;
    right: 77px;
    box-shadow: 0.1vw 0.1vw 0.3vw black;
    border-radius: 0.5vw;
    opacity: 0;
    z-index: -5;
}
.dropdown-menu a{
    text-decoration: none;
}

.dropdown-flex{
    display: flex;
    flex-direction: column;

}
.drop{
    padding: 1vw;
    border-bottom: 0.1vw solid #d1d0d0;
}

#user_name{
    width: 11vw;
    font-size: 2vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#post-title{
    width: 15vw;
    font-size: 2vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#user_email{
    width: 11vw;
    font-size: 1.3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-item{
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    display: block;
}
.dropdown-item:hover{
    background: #F6F3F3;
}

#userimage{
    display: inline-block;
    width: 5vw;
    height: 5vw;
    background: #5CE1E6;
    border-radius: 50vw;
    margin-right: 1vw;
}

#drop-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
#userdetails{
    width: 12vw;
}

.flex-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head-404{
    font-size: 10vw;
}
.body-404{
    font-size: 2vw;
}

.postingflex{
    margin-top: 0vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.date{
    font-size: 1vw;
    margin-top: 0.1vw;
}
.view button{
    font-size: 1.5vw;
    margin-top: 2vw;
    background: #82EFF1;
    border: 0.2vw solid #82EFF1;
}

#ham img, #key img{
    visibility: hidden;
    width: 1vw;
}

.title{
    font-size: 2vw;
}
.date{
    font-size: 1vw;
}
.content{
    font-size: 1.5vw;
}
#neweditpencil img{
    display: none;
}

#authnameinit, .mdrop{
    display: none;
}
#bottom{
    display: none;
}
.message-flash{
    display: none;
}

@media screen and (max-width: 600px) {
    body {
      background-color: #F6F3F3;
    }
    .flex-container{
        margin-top: -5vw;
        padding: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #left{
        position: absolute;
        top: 2.5vw;
        left: -35vw;
        width: 25vw;
        height: 600px;
        border: none;
    }
    #right{
        display: none;

    }
    #center{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4vw;

    }
    .post{
        width: 90%;
        height: 26vw;
        padding: 4vw;
        background: #82EFF1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: left;
    }
    .headingtext{
        padding: 0vw;
        font-size: 7vw;
        display: flex;
        flex-direction: row;
        gap: 18vw;
        justify-content: left;
        align-items: center;
    }
    #authnameinit{
        display: inline-block;
        background: #F4BC33;
        font-size: 5vw;
        border-radius: 50vw;
        padding: 1.5vw;
    }


    .postflex{
        display: flex;
        flex-direction: column;
        gap: 4vw;
        justify-content: center;
        align-items: center;
    }

    #post-title{
        width: 70vw;
        font-size: 5.5vw;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .author{
        font-size: 3.5vw;
    }
    .view button{
        font-size: 5vw;
        margin-top: 3vw;
        border: none;
        background: #6CD7D9;
        border: 0.5vw solid #F6F3F3;
    }
    #key img{
        visibility: visible;
        width: 10vw;
    }
    #ham img{
        visibility: visible;
        width: 6vw;
    }
    .title{
        font-size: 5vw;
    }
    .date{
        font-size: 2.5vw;
    }
    .content{
        font-size: 4vw;
    }
    #logo{
        width: 20vw;
        justify-content: right;
    }
    .indexing{
        font-size: 4vw;
        justify-content: right;
        text-align: center;
        margin-bottom: 3vw;
    }
    .index{
        margin-top: 5vw;
    }
    .aboutme{
        margin-top: 12vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img{
        width: 24vw;
        height: 24vw;
    }
    .name{
        margin-top: 1vw;
        font-size: 4.5vw;
        text-align: center;
    }
    .authordescript{
        font-size: 2.5vw;
        text-align: center;
    }

    #neweditpencil{
        position: fixed;
        width: 15vw;
        height: 15vw;
        border-radius: 10vw;
        right: 7vw;
        bottom: 5vw;
        background: #F4BC33;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #neweditpencil img{
        display: block;
        width: 8vw;
        z-index: 1000;
    }   
    .mdrop{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 18vw;
        right: 7vw;
        background: #F4BC33;
        padding: 5vw;
        gap: 5vw;
        border-radius: 1vw;
    }
    .mdrop a{
        text-decoration: none;
        color: black;
    }


    /* next update */
    #bottom{
        display: block;
        padding-top: 0vw;
        text-align: right;
        width: 100%;
        padding: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subscribe{
        text-align: center;
        font-size: 8vw;
    }
    .signupdesc{
        padding: 5vw;
        text-align: center;
        font-size: 5vw;
    }
    .button-subscribe{
        margin-top: 2vw;
        font-size: 6vw;
    }
    #email{
        padding: 1vw;
        font-size: 6vw;
        width: calc(100%);
    }
    #inputemail{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .message-flash{
        display: block;
        position: fixed;
        bottom: 8vw;
        right: 25vw;
        font-size: 5vw;
        z-index: 1000;
    }

    .me{
        margin-bottom: 0vw;
    }

    .close{
        font-size: 5vw;
        background: #5CE1E6;
    }
}













/* Animation Classes */

.pullLeft{
    -webkit-animation: pullLeft 1s ease-in-out 0s; /* Chrome, Opera 15+, Safari 5+ */
            animation: pullLeft 1s ease-in-out 0s; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.pushLeft{
    -webkit-animation: pushLeft 1s ease-in-out 0s; /* Chrome, Opera 15+, Safari 5+ */
            animation: pushLeft 1s ease-in-out 0s; /* Chrome, Firefox 16+, IE 10+, Opera */
}




@-webkit-keyframes pullLeft {
    0%   { 
        -webkit-transform: translateX(-35vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(-35vw);  /* IE 9 */
                transform: translateX(-35vw);  /* Firefox 16+, IE 10+, Opera */
    }
    100% { 
        -webkit-transform: translateX(0vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(0vw);  /* IE 9 */
                transform: translateX(0vw);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes pullLeft {
    0%   { 
        -webkit-transform: translateX(-35vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(-35vw);  /* IE 9 */
                transform: translateX(-35vw);  /* Firefox 16+, IE 10+, Opera */
    }
    100% { 
        -webkit-transform: translateX(0vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(0vw);  /* IE 9 */
                transform: translateX(0vw);  /* Firefox 16+, IE 10+, Opera */
    }
}


@-webkit-keyframes pushLeft {
    0%   { 
        -webkit-transform: translateX(0vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(0vw);  /* IE 9 */
                transform: translateX(0vw);  /* Firefox 16+, IE 10+, Opera */
        }
    100% { 
        -webkit-transform: translateX(-35vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(-35vw);  /* IE 9 */
                transform: translateX(-35vw);  /* Firefox 16+, IE 10+, Opera */
        }
}
@keyframes pushLeft {
    0%   { 
        -webkit-transform: translateX(0vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(0vw);  /* IE 9 */
                transform: translateX(0vw);  /* Firefox 16+, IE 10+, Opera */
        }
    100% { 
        -webkit-transform: translateX(-35vw);  /* Chrome, Opera 15+, Safari 3.1+*/ 
            -ms-transform: translateX(-35vw);  /* IE 9 */
                transform: translateX(-35vw);  /* Firefox 16+, IE 10+, Opera */
        }
}