body{
    background: #F6F3F3;
}
.outer{
    background: #F6F3F3;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}
.inner{
    margin-top: 1.5vw;
    position: relative;
    background: white;
    box-shadow: 0.1vw 0.1vw 0.1vw black;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#inner1{
    width: 70vw;
}
#inner2{
    background: transparent;
    box-shadow: none;
}
.text{
    font-family: 'DM Sans', sans-serif;
}
.header{
    font-size: 2vw;
    padding: 1vw;
}
.context{
    box-sizing: border-box;
    margin: 1.5vw;
    padding: 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    margin-top: 0;
}
#title{
    font-size: 3vw;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
    resize: vertical;
    width: 100%;
    height: auto;
    min-height: 4vw;
    max-height: none;
    word-break: keep-all;
    flex-direction: column;
}
#content{
    font-size: 1.5vw;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    resize: vertical;
    overflow-wrap: break-word;
    min-height: 30vw;
}

.innerfixed{
    position: fixed;
    background: white;
    box-shadow: 0.1vw 0.1vw 0.1vw black;
    top: 2vw;
    left: 75.7vw;
    width: 18vw;
    height: 91%;
    z-index: 50;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#thimage{
    font-size: 1vw;
}

.publish{
    width: 100%;
    font-size: 2vw;
}
#publish:hover{
    cursor: pointer;
}

#savedraft{
    background: white;
    border: none;
    color: teal;
}
#savedraft:hover{
    cursor: pointer;
}
#savedraft:focus, #savedraft:active{
    background: white;
    border: none;
    outline: none;
}