<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Lebenism</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signingbase.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- corrections -->
    <div class="outer">
        <div class="inner">
            <div class="header text"><span class="header-text-signup">{% block signingsignup %}{% endblock signingsignup %}</span> <span class="header-text-login">{% block signinglogin %}{% endblock signinglogin %}</span></div>
            <div class="left">
                <div class="form">
                    {% block body %}{% endblock body %}
                </div>    
            </div>
            <div class="footer text"><span class="footer-text">&#169;Lebenism</span></div>
        </div>
    </div>
    {% for message in messages %}
    <div class="message text flexbox message-{{message.tags}} ">
        <div class="message-text">
            {{ message }}
        </div>
            <button type="button" class="close-{{message.tags}}" onclick="this.parentElement.style.display = 'none';"
                        data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endfor %}
</body>

</html>