{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}
<div class="container">
        <div class="hangers d-flex">
            <div class="letterhang" id="pro-1">a</div>
            <div class="letterhang" id="pro-2">b</div>
            <div class="letterhang" id="pro-3">o</div>
            <div class="letterhang" id="pro-4">u</div>
            <div class="letterhang" id="pro-5">t</div>
        </div>
        <p class="heading3">
        <h3>WHO AM I?</h3>
        </p>
        <div class="d-flex my-4">
            <div class="content">
                Hi, this is Aashutosh. I am a computer programmer, specializing in Python. I began working as a full
                stack developer in January 2021 and 3 of my projects have now been completed, published and are *live*.
                I am also a game developer, working in Pygame. I have completed one project in Pygame too.
            </div>
            <div class="image">

            </div>
        </div>
        <p>
        <h3>MY EDUCATION</h3>
        </p>
        <div class="content my-3 d-flex flex-fill">
            <div class="ed mx-2">
                <h4>Graduation</h4>
                <div id="college">
                    <h5>Malviya National Institute of Technology, Jaipur (NIT Jaipur)</h5>
                </div>
                <div id="course">
                    B.Tech. Chemical Engineering (2016-2020)
                </div>
                <div class="status">
                    Passed with 5.8 CGPA
                </div>
            </div>
            <div class="ed mx-2">
                <h4>Schooling</h4>
                <div id="school">
                    <h5>Puranchandra Vidyaniketan - Kanpur</h5>
                </div>
                <div id="exam1">
                    AISSC (March 2014)
                </div>
                <div class="status">
                    Passed with 9.2 CGPA
                </div>
                <div id="exam2">
                    AISSCE (March 2016)
                </div>
                <div class="status">
                    Passed with 92.6%
                </div>
            </div>
        </div>
    </div>

{% endblock body %}