<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'resumehome.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <script src="{% static 'resumehome.js' %}"></script>
    <link rel="icon" href="{% static 'logo1.png' %}" type="image/icon type">
    <title>Aashutosh Sharma | Lebenism</title>
</head>

<body>
    <!-- branch starts -->
    <div id="b995" class="branch"></div>
    <div id="b996" class="branch"></div>
    <div id="b997" class="branch"></div>
    <div id="b997_0" class="branch"></div>
    <div id="b997_1" class="branch"></div>
    <div id="b996_1" class="branch rotatePlus_45"></div>
    <div id="b996_2" class="branch right"></div>
    <div id="b996_3" class="branch right"></div>
    <div id="b996_4" class="branch right"></div>
    <div id="b996_5" class="branch right"></div>
    <div id="b996_6" class="branch right"></div>
    <div id="b996_7" class="branch right"></div>
    <div id="b996_8" class="branch right"></div>
    <div id="b996_9" class="branch right"></div>
    <div id="b996_10" class="branch right"></div>
    <div id="b996_11" class="branch right"></div>
    <div id="b996_12" class="branch right"></div>
    <div id="b996_13" class="branch right"></div>
    <div id="b996_14" class="branch right"></div>
    <div id="b996_15" class="branch right"></div>
    <div id="b996_16" class="branch right"></div>
    <div id="b996_17" class="branch right"></div>
    <div class="branch right" id="b996_18"></div>
    <div class="branch right" id="b996_19"></div>
    <div class="branch right" id="b996_20"></div>
    <div class="branch right" id="b996_21"></div>
    <div class="branch right" id="b996_22"></div>
    <div class="branch right" id="b996_23"></div>
    <div class="branch right" id="b996_24"></div>
    <div class="branch right" id="b996_25"></div>
    <div class="branch right" id="b996_26"></div>
    <div class="branch right" id="b996_27"></div>
    <div class="branch right" id="b996_28"></div>
    <div class="branch right" id="b996_29"></div>
    <div class="branch right" id="b996_30"></div>
    <div class="branch right" id="b996_31"></div>
    <div class="branch right" id="b996_32"></div>
    <div class="branch right" id="b996_33"></div>
    <div class="branch right" id="b996_34"></div>
    <div class="branch right" id="b996_35"></div>
    <div class="branch right" id="b996_36"></div>
    <div class="branch right" id="b996_37"></div>
    <div class="branch right" id="b996_38"></div>
    <div class="branch right" id="b996_39"></div>
    <div class="branch right" id="b996_40"></div>
    <div class="straight" id="b996-1"></div>
    <div class="straight" id="b996-2"></div>
    <div class="straight" id="b996-3"></div>
    <div class="branch right" id="b996_41"></div>
    <div class="branch right" id="b996_42"></div>
    <div class="branch right" id="b996_43"></div>
    <div class="branch right" id="b996_44"></div>
    <div class="branch right" id="b996_45"></div>
    <div class="branch right" id="b996_46"></div>
    <div class="branch right" id="b996_47"></div>
    <div class="branch right" id="b996_48"></div>
    <div class="branch right" id="b996_49"></div>
    <div class="branch right" id="b996_50"></div>
    <div class="branch right" id="b996_51"></div>
    <div class="branch right" id="b996_52"></div>
    <div class="branch right" id="b996_53"></div>
    <div class="branch right" id="b996_54"></div>
    <div class="branch right" id="b996_55"></div>
    <div class="branch right" id="b996_56"></div>
    <div class="branch right" id="b996_57"></div>
    <div class="branch right" id="b996_58"></div>
    <div class="branch right" id="b996_59"></div>
    <div class="branch right" id="b996_60"></div>
    <div class="straight" id="b996-4"></div>
    <div class="straight" id="b996-5"></div>
    <div class="straight" id="b996-6"></div>
    <div class="branchcircle" id="b996_c_1"></div>
    <div class="branchcircle" id="b996_c_2"></div>
    <div class="branchcircle" id="b996_c_3"></div>
    <div class="branchcircle" id="b996_c_4"></div>
    <div class="branchcircle" id="b996_c_5"></div>
    <div class="branchcircle" id="b996_c_6"></div>
    <div class="branchcircle" id="b996_c_7"></div>
    <div class="branchcircle" id="b996_c_8"></div>
    <div class="branchcircle" id="b996_c_9"></div>
    <div class="branchcircle" id="b996_c_10"></div>
    <div class="branchcircle" id="b996_c_11"></div>
    <div class="branchcircle" id="b996_c_12"></div>
    <div class="branchcircle" id="b996_c_13"></div>
    <div class="branchcircle" id="b996_c_14"></div>
    <div id="b998" class="branch"></div>
    <div id="b999" class="branch rotateMinus_40"></div>
    <div id="b1000" class="branch"></div>
    <div id="b1001" class="branch"></div>
    <div id="b1001-2" class="branch"></div>
    <div id="b1001-3" class="branch"></div>
    <div id="b1001-4" class="branch"></div>
    <div id="b1001-1" class="branch rotateMinus_45"></div>
    <div id="b1002" class="branch"></div>
    <div id="b1003" class="branch"></div>
    <div id="b1004" class="branch"></div>
    <div id="b1005" class="branch"></div>
    <div id="b1005-1" class="branch rotatePlus_45"></div>
    <div id="b1005-2" class="branch"></div>
    <div id="b1005-3" class="branch"></div>
    <div id="b1005-4" class="branch"></div>
    <div id="b1005-5" class="branch"></div>
    <div id="b1005-6" class="branch"></div>
    <div id="b1005-7" class="branch"></div>
    <div id="b1005-8" class="branch"></div>
    <div id="b1005-9" class="branch"></div>
    <div id="b1005-10" class="branch"></div>
    <div id="b1005-11" class="branch rotatePlus_45"></div>
    <div id="b1010" class="branch right-most"></div>
    <div id="b1020" class="branch right-most"></div>
    <div id="b1030" class="branch right-most"></div>
    <div id="b1040" class="branch right-most"></div>
    <div id="b1050" class="branch right-most"></div>
    <div id="b1060" class="branch right-most"></div>
    <div id="b1070" class="branch right-most"></div>
    <div id="b1080" class="branch right-most"></div>
    <div id="b1090" class="branch right-most"></div>
    <div id="b1100" class="branch right-most"></div>
    <div id="b1110" class="branch right-most"></div>
    <div id="b1120" class="branch right-most"></div>
    <div id="b1130" class="branch right-most"></div>
    <div id="b1140" class="branch right-most"></div>
    <div id="b1150" class="branch right-most"></div>
    <div id="b1160" class="branch right-most"></div>
    <div id="b1170" class="branch right-most"></div>
    <div id="b1180" class="branch right-most"></div>
    <div id="b1190" class="branch right-most"></div>
    <div id="b1200" class="branch right-most"></div>
    <div id="b1210" class="branch right-most"></div>
    <div id="b1220" class="branch right-most"></div>
    <div id="b1230" class="branch right-most"></div>
    <div id="b1240" class="branch right-most"></div>
    <div id="b1250" class="branch right-most"></div>
    <div id="b1260" class="branch right-most"></div>
    <div id="b1270" class="branch right-most"></div>
    <div id="b1280" class="branch right-most"></div>
    <div id="b1290" class="branch right-most"></div>
    <div id="b1300" class="branch right-most"></div>
    <div id="b1310" class="branch right-most"></div>
    <div id="b1320" class="branch right-most"></div>
    <div id="b1330" class="branch right-most"></div>
    <div id="b1340" class="branch right-most"></div>
    <div id="b1350" class="branch right-most"></div>
    <div id="b1360" class="branch right-most"></div>
    <div id="b1370" class="branch right-most"></div>
    <div id="b1380" class="branch right-most"></div>
    <div id="b1390" class="branch right-most"></div>
    <div id="b1400" class="branch right-most"></div>
    <div id="b1400_1" class="straight"></div>
    <div id="b1400_2" class="straight"></div>
    <div id="b1400_3" class="straight"></div>
    <div class="branchcircle" id="b1400_1c1"></div>
    <div class="branchcircle" id="b1400_1c2"></div>
    <div class="branchcircle" id="b1400_1c3"></div>
    <div class="branchcircle" id="b1400_1c4"></div>
    <div class="branchcircle" id="b1400_1c5"></div>
    <div class="branchcircle" id="b1400_2c0"></div>
    <div class="branchcircle" id="b1400_2c1"></div>
    <div class="branchcircle" id="b1400_2c2"></div>
    <div class="branchcircle" id="b1400_2c3"></div>
    <div class="branchcircle" id="b1400_2c4"></div>
    <div class="branchcircle" id="b1400_2c5"></div>
    <div class="branchcircle" id="b1400_3c1"></div>
    <div class="branchcircle" id="b1400_3c2"></div>
    <div class="branchcircle" id="b1400_3c3"></div>
    <div id="bl1" class="branch left"></div>
    <div id="bl2" class="branch left"></div>
    <div id="bl3" class="branch left"></div>
    <div id="bl4" class="branch left"></div>
    <div id="bl5" class="branch left"></div>
    <div id="bl6" class="branch left"></div>
    <div id="bl7" class="branch left"></div>
    <div id="bl8" class="branch left"></div>
    <div id="bl9" class="branch left"></div>
    <div id="bl10" class="branch left"></div>
    <div id="bl11" class="branch left"></div>
    <div id="bl12" class="branch left"></div>
    <div id="bl13" class="branch left"></div>
    <div id="bl14" class="branch left"></div>
    <div id="bl15" class="branch left"></div>
    <div id="bl16" class="branch left"></div>
    <div id="bl17" class="branch left"></div>
    <div id="bl18" class="branch left"></div>
    <div id="bl19" class="branch left"></div>
    <div id="bl20" class="branch left"></div>
    <div class="branch left" id="bl21"></div>
    <div class="branch left" id="bl22"></div>
    <div class="branch left" id="bl23"></div>
    <div class="branch left" id="bl24"></div>
    <div class="branch left" id="bl25"></div>
    <div class="branch left" id="bl26"></div>
    <div class="branch left" id="bl27"></div>
    <div class="branch left" id="bl28"></div>
    <div class="branch left" id="bl29"></div>
    <div class="branch left" id="bl30"></div>
    <div class="branch left" id="bl31"></div>
    <div class="branch left" id="bl32"></div>
    <div class="branch left" id="bl33"></div>
    <div class="branch left" id="bl34"></div>
    <div class="branch left" id="bl35"></div>
    <div class="branch left" id="bl36"></div>
    <div class="branch left" id="bl37"></div>
    <div class="branch left" id="bl38"></div>
    <div class="branch left" id="bl39"></div>
    <div class="branch left" id="bl40"></div>
    <div class="straight" id="bl20-1"></div>
    <div class="straight" id="bl20-2"></div>
    <div class="straight" id="bl20-3"></div>
    <div class="straight" id="bl20-4"></div>
    <div class="straight" id="bl20-5"></div>
    <div class="straight" id="bl20-6"></div>
    <div class="branch left" id="bl41"></div>
    <div class="branch left" id="bl42"></div>
    <div class="branch left" id="bl43"></div>
    <div class="branch left" id="bl44"></div>
    <div class="branch left" id="bl45"></div>
    <div class="branch left" id="bl46"></div>
    <div class="branch left" id="bl47"></div>
    <div class="branch left" id="bl48"></div>
    <div class="branch left" id="bl49"></div>
    <div class="branch left" id="bl50"></div>
    <div class="branch left" id="bl51"></div>
    <div class="branch left" id="bl52"></div>
    <div class="branch left" id="bl53"></div>
    <div class="branch left" id="bl54"></div>
    <div class="branch left" id="bl55"></div>
    <div class="branch left" id="bl56"></div>
    <div class="branch left" id="bl57"></div>
    <div class="branch left" id="bl58"></div>
    <div class="branch left" id="bl59"></div>
    <div class="branch left" id="bl60"></div>
    
    <div id="blm1" class="branch left-most"></div>
    <div id="blm2" class="branch left-most"></div>
    <div id="blm3" class="branch left-most"></div>
    <div id="blm4" class="branch left-most"></div>
    <div id="blm5" class="branch left-most"></div>
    <div id="blm6" class="branch left-most"></div>
    <div id="blm7" class="branch left-most"></div>
    <div id="blm8" class="branch left-most"></div>
    <div id="blm9" class="branch left-most"></div>
    <div id="blm10" class="branch left-most"></div>
    <div id="blm11" class="branch left-most"></div>
    <div id="blm12" class="branch left-most"></div>
    <div id="blm13" class="branch left-most"></div>
    <div id="blm14" class="branch left-most"></div>
    <div id="blm15" class="branch left-most"></div>
    <div id="blm16" class="branch left-most"></div>
    <div id="blm17" class="branch left-most"></div>
    <div id="blm18" class="branch left-most"></div>
    <div id="blm19" class="branch left-most"></div>
    <div id="blm20" class="branch left-most"></div>
    <div id="blm21" class="branch left-most"></div>
    <div id="blm22" class="branch left-most"></div>
    <div class="branch left-most" id="blm23"></div>
    <div class="branch left-most" id="blm24"></div>
    <div class="straight" id="blm24-1"></div>
    <div class="straight" id="blm24-2"></div>
    <div class="straight" id="blm24-3"></div>
    <div class="straight" id="blm24-4"></div>
    <div class="straight" id="blm24-5"></div>
    <div class="straight" id="blm24-6"></div>
    <div class="straight" id="blm24-7"></div>
    <div class="straight" id="blm24-8"></div>
    <div class="straight" id="blm24-9"></div>
    <div class="straight" id="blm24-10"></div>
    <div class="branch left-most" id="blm25"></div>
    <div class="branch left-most" id="blm26"></div>
    <div class="branch left-most" id="blm27"></div>
    <div class="branch left-most" id="blm28"></div>
    <div class="branch left-most" id="blm29"></div>
    <div class="branch left-most" id="blm30"></div>
    <div class="branch left-most" id="blm31"></div>
    <div class="branch left-most" id="blm32"></div>
    <div class="branch left-most" id="blm33"></div>
    <div class="branch left-most" id="blm34"></div>
    <div class="branch left-most" id="blm35"></div>
    <div class="branch left-most" id="blm36"></div>
    <div class="branch left-most" id="blm37"></div>
    <div class="branch left-most" id="blm38"></div>
    <div class="branch left-most" id="blm39"></div>
    <div class="branch left-most" id="blm40"></div>
    <div class="branch left-most" id="blm41"></div>
    <div class="branch left-most" id="blm42"></div>
    <div class="branch left-most" id="blm43"></div>
    <div class="branch left-most" id="blm44"></div>
    <div class="branch left-most" id="blm45"></div>
    <div class="branch left-most" id="blm46"></div>
    <div class="branch left-most" id="blm47"></div>
    <div class="branch left-most" id="blm48"></div>
    <div class="branch left-most" id="blm49"></div>
    <div class="branch left-most" id="blm50"></div>
    <div class="branch left-most" id="blm51"></div>
    <div class="branch left-most" id="blm52"></div>
    <div class="branch left-most" id="blm53"></div>
    <div class="branch left-most" id="blm54"></div>
    <div class="branch left-most" id="blm55"></div>
    <div class="branch left-most" id="blm56"></div>
    <div class="branch left-most" id="blm57"></div>
    <div class="branch left-most" id="blm58"></div>
    <div class="branch left-most" id="blm59"></div>
    <div class="branch left-most" id="blm60"></div>
    <div class="branch left-most" id="blm61"></div>
    <div class="branch left-most" id="blm62"></div>
    <div class="branch left-most" id="blm63"></div>
    <div class="branch left-most" id="blm64"></div>
    <div class="branch left-most" id="blm65"></div>
    <div class="branch left-most" id="blm66"></div>
    <div class="branch left-most" id="blm67"></div>
    <div class="branch left-most" id="blm68"></div>
    <div class="branch left-most" id="blm69"></div>
    <div class="branch left-most" id="blm70"></div>
    <div class="branch left-most" id="blm71"></div>
    <div class="branch left-most" id="blm72"></div>
    <div class="branch left-most" id="blm73"></div>
    <div class="branch left-most" id="blm74"></div>
    <div class="branch left-most" id="blm75"></div>
    <div class="branch left-most" id="blm76"></div>
    <div class="branch left-most" id="blm77"></div>
    <div class="branch left-most" id="blm78"></div>
    <div class="branch left-most" id="blm79"></div>
    <div class="branch left-most" id="blm80"></div>
    <div class="branch left-most" id="blm81"></div>
    <div class="branch left-most" id="blm82"></div>
    <div class="branch left-most" id="blm83"></div>
    <div class="branch left-most" id="blm84"></div>
    <div class="branch left-most" id="blm85"></div>
    <div class="branch left-most" id="blm86"></div>
    <div class="branch left-most" id="blm87"></div>
    <div class="branch left-most" id="blm88"></div>
    <div class="branch left-most" id="blm89"></div>
    <div class="branch left-most" id="blm90"></div>
    <div class="branch left-most" id="blm91"></div>
    <div class="branch left-most" id="blm92"></div>
    <div class="branch left-most" id="blm93"></div>
    <div class="branch left-most" id="blm94"></div>
    <div class="branch left-most" id="blm95"></div>
    <div class="branch left-most" id="blm96"></div>
    <div class="branch left-most" id="blm97"></div>
    <div class="branch left-most" id="blm98"></div>
    <div id="dg1" class="bgDarkGreen"></div>
    <div id="dg2" class="bgDarkGreen"></div>
    <div id="dg3" class="bgDarkGreen"></div>
    <div id="dg3-5" class="bgDarkGreen"></div>
    <div id="dg4" class="bgDarkGreen"></div>
    <div id="dg5" class="bgDarkGreen"></div>
    <div id="dg6" class="bgDarkGreen"></div>
    <div id="dg7" class="bgDarkGreen"></div>
    <div id="g1" class="bgGreen"></div>
    <div id="g2" class="bgGreen"></div>
    <div id="g3" class="bgGreen"></div>
    <div id="g4" class="bgGreen"></div>
    <div id="g5" class="bgGreen"></div>
    <div id="sd1" class="stem"></div>
    <div id="sd2" class="stem"></div>
    <div id="sd3" class="trunk"></div>
    <div id="sd4" class="trunk"></div>
    <div id="sd5" class="trunk"></div>
    <!-- branch ends -->

    <!-- name -->
    <div id="fname" class="text">aashutosh</div>
    <div id="lname" class="text">sharma</div>
    <div id="about-desc" class="text">... had started my journey in programming in January 2021 and lo and behold, my
        resume project was uploaded on 1st April 2021 ...</div>
    <div class="hangletters" id="letter1"></div>
    <div class="hangletters" id="letter2"></div>
    <a href="/about/" target="_blank">
    <div id="about" class="text flexbox">
        <div class="hangingskills" id="a">a</div>
        <div class="hangingskills" id="b">b</div>
        <div class="hangingskills" id="o">o</div>
        <div class="hangingskills" id="u">u</div>
        <div class="hangingskills" id="t">t</div>
    </div>
    </a>
    <div class="hangletters" id="letter3"></div>
    <div class="hangletters" id="letter4"></div>
    <div id="skills" class="text flexbox">
        <div class="hangingskills" id="s">s</div>
        <div class="hangingskills" id="k">k</div>
        <div class="hangingskills" id="i">i</div>
        <div class="hangingskills" id="l">l</div>
        <div class="hangingskills" id="l_2">l</div>
        <div class="hangingskills" id="s2">s</div>
    </div>
    <div class="flexbox" id="skillsetbox">
        <div class="skillset">
            <div class="text skill" id="python">python</div>
            <div class="text skill" id="pygame">pygame</div>
            <div class="text skill" id="html">html</div>
            <div class="text skill" id="css">css</div>
            <div class="text skill" id="git">git</div>
            <div class="text skill" id="django">django</div>
            <div class="text skill" id="javascript">javascript</div>
            <div class="text skill" id="bootstrap">bootstrap</div>
        </div>
        <div class="levelbox">
            <div class="box" id="python-box">
                <div class="level" id="pythonlevel"></div>
            </div>
            <div class="box" id="pygame-box">
                <div class="level" id="pygamelevel"></div>
            </div>
            <div class="box" id="html-box">
                <div class="level" id="htmllevel"></div>
            </div>
            <div class="box" id="css-box">
                <div class="level" id="csslevel"></div>
            </div>
            <div class="box" id="git-box">
                <div class="level" id="gitlevel"></div>
            </div>
            <div class="box" id="django-box">
                <div class="level" id="djangolevel"></div>
            </div>
            <div class="box" id="javascript-box">
                <div class="level" id="javascriptlevel"></div>
            </div>
            <div class="box" id="bootstrap-box">
                <div class="level" id="bootstraplevel"></div>
            </div>
        </div>
    </div>
    <div class="hangletters" id="letter6"></div>
    <div class="hangletters" id="letter7"></div>
    <div class="hangletters" id="letter8"></div>
    <div class="hangletters" id="letter9"></div>
    <div class="hangletters" id="letter10"></div>
    <div class="hangletters" id="letter11"></div>
    <div class="hangletters" id="letter12"></div>
    <div class="hangletters" id="letter13"></div>
    <div class="hangletters" id="letter14"></div>
    <div class="hangletters" id="letter15"></div>
    <div class="hangletters" id="letter16"></div>
    <div class="hangletters" id="letter17"></div>
    <div class="hangletters" id="letter18"></div>
    <div class="hangletters" id="letter19"></div>
    <div class="hangletters" id="letter20"></div>
    <div class="hangletters" id="letter21"></div>
    <div class="hangletters" id="letter22"></div>
    <div class="hangletters" id="letter23"></div>
    <div class="hangletters" id="letter24"></div>
    <div class="hangletters" id="letter25"></div>
    <div class="hangletters" id="letter26"></div>
    <div class="hangletters" id="letter27"></div>
    <div id="projects" class="text flexbox">
        <div class="hangingskills project_alpha" id="pr-p">p</div>
        <div class="hangingskills project_alpha" id="pr-r">r</div>
        <div class="hangingskills project_alpha" id="pr-o">o</div>
        <div class="hangingskills project_alpha" id="pr-j">j</div>
        <div class="hangingskills project_alpha" id="pr-e">e</div>
        <div class="hangingskills project_alpha" id="pr-c">c</div>
        <div class="hangingskills project_alpha" id="pr-t">t</div>
        <div class="hangingskills project_alpha" id="pr-s">s</div>
    </div>
    <div class="container" onmouseover="stopRotating()" onmouseout="startRotating()">
        <div class="animation rotater swingwheel" id="swingwheel">
            <div id="innerwheel"></div>
            <div class="stoke" id="stoke-1"></div>
            <div class="stoke" id="stoke-2"></div>
            <div class="stoke" id="stoke-3"></div>
            <div class="stoke" id="stoke-4"></div>
            <div class="stoke" id="stoke-5"></div>
            <div class="stoke" id="stoke-6"></div>
            <div class="stoke" id="stoke-7"></div>
            <div class="stoke" id="stoke-8"></div>
            <div class="stoke midstoke" id="stoke-9"></div>
            <div class="stoke midstoke" id="stoke-10"></div>
            <div class="stoke midstoke" id="stoke-11"></div>
            <div class="stoke midstoke" id="stoke-12"></div>
            <div class="stoke midstoke" id="stoke-13"></div>
            <div class="stoke midstoke" id="stoke-14"></div>
            <div class="stoke midstoke" id="stoke-15"></div>
            <div class="stoke midstoke" id="stoke-16"></div>
        </div>
        <div class="animation rotater swingwheel" id="seatwheel">
            <div class="invert-animation invert-rotater seat" id="seat-1">
                <div class="handle"></div>
                <a href="/">
                    <div class="text text-center" id="portfolio"><u>Project-1</u><br><br>Portfolio Website</div>
                </a>
            </div>
            <div class="invert-animation invert-rotater seat" id="seat-2">
                <div class="handle"></div>
                <div class="text text-center" id="pong"><u>Project-5</u><br><br>Pong<br>(game)</div>
            </div>
            <div class="invert-animation invert-rotater seat" id="seat-3">
                <div class="handle"></div>
                <div class="text text-center upcoming" id="upcoming-2"><u>Project-7</u><br><br>Upcoming</div>
            </div>
            <div class="invert-animation invert-rotater seat" id="seat-4">
                <div class="handle"></div>
                <div class="text text-center" id="clocky"><u>Project-3</u><br><br>Timer Clock</div>
            </div>
            <div class="invert-animation invert-rotater seat" id="seat-5">
                <div class="handle"></div>
                <div class="text text-center upcoming" id="upcoming-3"><u>Project-8</u><br><br>Upcoming</div>
            </div>
            <div class="invert-animation invert-rotater seat" id="seat-6">
                <div class="handle"></div>
                <a href="/blog/" target="_blank">
                    <div class="text text-center" id="blogger"><u>Project-2</u><br><br>Blog<br></div>
                </a>
            </div>
            <div class="invert-animation invert-rotater seat" id="seat-7">
                <div class="handle"></div>
                <div class="text text-center upcoming" id="upcoming-1"><u>Project-6</u><br><br>Upcoming</div>
            </div>
            <div class="invert-animation invert-rotater seat" id="seat-8">
                <div class="handle"></div>
                <div class="text text-center" id="lebenary"><u>Project-4</u><br><br>Lebenary<br>(upcoming)</div>
            </div>
        </div>
    </div>
    <a href="/projects/" target="_blank" id="projectlink">
        <div class="projectslinked"></div>
    </a>
    <div id="stand1"></div>
    <div id="stand2"></div>
    <div id="stand2-1"></div>
    <div id="stand3"></div>
    <div id="stand4"></div>
    <!-- blog -->
    <a href="/blog/" target="_blank">
        <div id="blog" class="text flexbox">
            <div class="hangingskills blog-heading" id="blog-b">b</div>
            <div class="hangingskills blog-heading" id="blog-l">l</div>
            <div class="hangingskills blog-heading" id="blog-o">o</div>
            <div class="hangingskills blog-heading" id="blog-g">g</div>
        </div>
    </a>
    <div class="blogpost flexbox" id="post-1">
        <div class="imageblogpost" id="div-1"></div>
        <div class="details" id="div-2">
            <div class="titleblog">Title</div>
            <div class="authorblog">By Author</div>
            <div class="descblog">Description</div>
        </div>
    </div>
    <div class="blogpost flexbox" id="post-2">
        <div class="imageblogpost" id="div-1"></div>
        <div class="details" id="div-2">
            <div class="titleblog">Title</div>
            <div class="authorblog">By Author</div>
            <div class="descblog">Description</div>
        </div>
    </div>
    <div class="blogpost flexbox" id="post-3">
        <div class="imageblogpost" id="div-1"></div>
        <div class="details" id="div-2">
            <div class="titleblog">Title</div>
            <div class="authorblog">By Author</div>
            <div class="descblog">Description</div>
        </div>
    </div>
    <div id="contact" class="text flexbox">
        <div class="hangingskills contactme" id="con-1">c</div>
        <div class="hangingskills contactme" id="con-2">o</div>
        <div class="hangingskills contactme" id="con-3">n</div>
        <div class="hangingskills contactme" id="con-4">t</div>
        <div class="hangingskills contactme" id="con-5">a</div>
        <div class="hangingskills contactme" id="con-6">c</div>
        <div class="hangingskills contactme" id="con-7">t</div>
        <div class="hangingskills contactme" id="con-8">m</div>
        <div class="hangingskills contactme" id="con-9">e</div>
    </div>
    <div class="telegram telegramtext">
        <form>
            <div class="flexbox" id="topdetails">
                <label for="name" hidden>Name*</label>
                <input type="text" id="name" name="name" placeholder="Your name (required)">
                <label for="tel" hidden>Phone</label>
                <input type="tel" id="tel" name="tel" placeholder="Your phone number">
            </div>
            <label for="email" hidden>Email*</label>
            <input type="email" id="email" name="email" placeholder="Your email (required)">
            <label for="message" hidden>Message*</label>
            <textarea id="message" name="message" rows="4" placeholder="Message"></textarea>
            <button type="submit" id="submit">Send</button>
        </form>
    </div>
    <!-- name ends -->

    <!-- leaf -->
    <img src="{% static 'img/leaf2.png' %}" id="l1" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l2" class="leaf" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l3" class="leaf" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l4" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l5" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l6" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l7" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l8" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l9" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l10" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l11" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l12" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l13" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l14" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l15" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l16" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l17" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l18" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l19" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l20" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l21" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l22" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l23" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l24" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l25" class="leaf rotatePlus_90" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l26" class="leaf rotateMinus_90" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l27" class="leaf rotatePlus_90" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l28" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l29" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l30" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l31" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l32" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l33" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l34" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l35" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l36" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l37" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l38" class="leaf" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l39" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l40" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l41" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l42" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l43" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l44" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l45" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l46" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l47" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l48" class="leaf rotatePlus_90" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l49" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l50" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l51" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l52" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l53" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l54" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l55" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l56" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l57" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l58" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l59" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l60" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l61" class="leaf rotateMinus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l62" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l63" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l64" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l65" class="leaf rotatePlus_90" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l66" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l67" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l68" class="leaf rotatePlus_135" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l69" class="leaf rotatePlus_45" alt="Leaf">
    <img src="{% static 'img/leaf2.png' %}" id="l70" class="leaf rotatePlus_45" alt="Leaf">
    <!-- leaf ends -->

    <!-- cloud starts -->
    <img src="{% static 'img/cloud_dark.png' %}" alt="" class="cloud" id="cloud_1">
    <img src="{% static 'img/cloud_dark.png' %}" alt="" class="cloud" id="cloud_2">
    <!-- cloud ends -->

    <!-- hanging wire -->
    <div class="hwire" id="w1"></div>
    <div class="hwire" id="w2"></div>
    <div class="hwire" id="w3"></div>
    <div class="hwire" id="w4"></div>
    <div class="hwire" id="w5"></div>
    <!-- hanging wire ends -->

    <!-- circles on hanging wire -->
    <div class="circle" id="c1"><a href="mailto:aashu.0704@zohomail.in"><img src="{% static 'mail.png' %}" class="icons"
                alt="twitter"></a></div>
    <div class="circle" id="c2"><a href="https://www.hackerrank.com/lebensharma" target="_blank"><img
                src="{% static 'hackerrank.png' %}" class="icon" alt="hackerrank"></a></div>
    <div class="circle" id="c3"><a href="https://www.linkedin.com/in/aashutosh-sharma-21098015a/" target="_blank"><img
                src="{% static 'linkedin.png' %}" alt="linkedin" class="icon"></a></div>
    <div class="circle" id="c4"><a href="https://twitter.com/lebensharma" target="_blank"><img src="{% static 'twitter.png' %}"
                alt="twitter" class="icons"></a></div>
    <div class="circle" id="c5"><a href="https://www.instagram.com/lebensharma/" target="_blank"><img
                src="{% static 'instagram.png' %}" alt="instagram" class="icons"></a></div>
    <!-- circles end -->

    <!-- bush starts -->
    <div id="footergrass">
        <img src="{% static 'img/footergrass.png' %}" alt="Grass Bush">
    </div>
    <!-- bush ends -->

    <!-- wire and pole start -->
    <div class="wire" id="pw1"></div>
    <div class="wire" id="pw2"></div>
    <div class="wire" id="pw3"></div>
    <div class="pole" id="pole-1">
        <div class="polehandle" id="ph1"></div>
    </div>
    <div class="pole" id="pole-2">
        <div class="polehandle" id="ph2"></div>
        <div class="rester" id="rester-1"></div>
        <div class="rester" id="rester-2"></div>
        <div class="rester" id="rester-3"></div>
    </div>
    <footer class="flexbox">

        
    </footer>
</body>

</html>